@charset "UTF-8";
div {
	box-sizing: border-box;
	transition: all ease-in-out .5s;
	-moz-transition: all ease-in-out .5s;
	-webkit-transition: all ease-in-out .5s;
}
.icetab {
	border: 2px solid #7E6ECD;
	display: inline-block; 
	border-bottom: 0px;	
	margin: 0px;	
  color: #400080;
	cursor: pointer;
	border-right: 0px;
}
.icetab:last-child {
	border-right: 2px solid #7E6ECD;	
}

#icetab-content {
	overflow: hidden;
	position: relative;
	border-top: 2px solid #7E6ECD;
}


.tabcontent {
	position: absolute;
	left: 0px;
	top: 0px;
	background: #fff;
	width: 100%;
	border-top: 0px;
	border: 2px solid #7E6ECD;
	border-top: 0px;
	transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
}

.tabcontent:first-child {
	position: relative;	
}
.tabcontent.tab-active {
	border-top: 0px;
	display: block;
	transform: translateY(0%);
	-moz-transform: translateY(0%);
	-webkit-transform: translateY(0%);
}


/* A tiny wee bit of visual formating */
body {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;	
	background: #ead5f2;
	color: #454545;
	max-height: 2000px;
}
.codepen-container {
  max-width: 1000px;
  max-height: 2000px;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
}
.title {
  color: #400080;
  text-align:center;
  letter-spacing: 14px;
  text-transform: uppercase;
  font-size: 17px;
  margin: 40px 0px;
}
.tabcontent {
	padding: 120px;
	max-height: 2000px;
}
.icetab {
	padding: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.current-tab { 
	background: #7E6ECD;
}
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
table{
  width: 100%;
  background-color: #ead5f2;
  border:1px;
  border-color:#400080;
}
th {
       background-color: #8080ff;
       border-color:#400080;
	}

tbody{
    height:200px;
    overflow-y:auto;
    width: 100%;
    }
